// @import url('https://fonts.googleapis.com/css?family=Poppins:300,400500.600,700,800,900&display=swap');
@import 'ngx-toastr/toastr';
*
{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;
}
body {
    min-height: 100vh;
    background: linear-gradient(#1172e8, #3286eb, #549aee, #77aef1, #98c2f5);
    font-family: Bahnschrift, 'Segoe UI', 'Segoe UI Web (West European)', -apple-system, BlinkMacSystemFont, Roboto, 'Helvetica Neue', sans-serif;
    font-weight: 400;
}

html, body { height: 100%; font-family: Bahnschrift, 'Segoe UI', 'Segoe UI Web (West European)', -apple-system, BlinkMacSystemFont, Roboto, 'Helvetica Neue', sans-serif;
    font-weight: 400;}
body { margin: 0; 
    // font-family: Roboto, "Helvetica Neue", sans-serif;
    font-family: Bahnschrift, 'Segoe UI', 'Segoe UI Web (West European)', -apple-system, BlinkMacSystemFont, Roboto, 'Helvetica Neue', sans-serif;
    font-weight: 400; }
