<div class="conatiner">
    <div class="header">
        <button (click)="redirect()" style="    border: none;
        text-decoration: none;
        color: transparent;
        background: transparent; cursor: pointer;">
            <span class="title main">
                Say My Name
            </span>
        </button>
        <span>
            <a href="https://loyalistcollege.com/" target="_blank">
                <img src="assets/images/LoyalistCollegeLogo.png" alt="Loyalist Logo" width="160" height="60"
                    style="min-height: 50px; width: 160px; margin-left: 47%; vertical-align: middle !important;">
            </a>
        </span>
    </div>

    <div class="content">
        <div class="main-content">
            <div class="content-text-1">Your Name Matters: A Celebration of Identity</div>
            <div class="content-text-2">#OwnYourName</div>
        </div>
        <span style="display: flex;">
            <div class="search-conatiner">
                <div class="search-bar-student-id"
                    style="width: 60%; max-width: 700px; background: rgba(255,255, 255, 0.2); display: flex; align-items: center; border-radius: 60px; padding: 0px 12px; backdrop-filter: blur(4px) saturate(180%); height: 57px;">
                    <input type="text" placeholder="Student ID" name="search"
                        matTooltip="Enter your Student ID. It should be of 9 digits. ex. 500226573"
                        matTooltipPosition="below" [(ngModel)]="student_id">
                </div>
                <button mat-raised-button matTooltipPosition="above" matTooltip="View a record" class="view-button"
                    type="submit" (click)="handleUserAction('view','')">
                    View
                </button>
            </div>
        </span>
        <ng-template [ngIf]="display_content_card === true">
            <div class="content-card">
                <mat-card class="example-card">
                    <div style="margin-bottom: 1%; margin-top: 0.5%;">
                        <p style="margin-bottom: 2% !important; 
                        font-family: Bahnschrift, 'Segoe UI', 'Segoe UI Web (West European)', -apple-system, BlinkMacSystemFont, Roboto, 'Helvetica Neue', sans-serif;
                        font-weight: 400;">Student ID: {{this.student_id}} <span
                                style="padding-left: 157px; vertical-align: middle !important; font-size: 11px;"><a
                                    href="" matTooltipPosition="above"
                                    matTooltip="Preferred Name: Elizabeth   Phonetics: ih-liz-uh-buhth"
                                    style="cursor: pointer;" matTooltipClass="my-tooltip">Sample Phonetics</a></span>
                        </p>
                        <p style="margin-bottom: 2% !important; 
                        font-family: Bahnschrift, 'Segoe UI', 'Segoe UI Web (West European)', -apple-system, BlinkMacSystemFont, Roboto, 'Helvetica Neue', sans-serif;
                        font-weight: 400;">Pronoun: {{this.pronoun}}<ng-template
                                [ngIf]="view_pronoun_flag === false"><button class="edit-button"
                                    (click)="handleUserAction('edit_pronoun','')"><mat-icon>edit</mat-icon></button></ng-template>
                            <ng-template [ngIf]="view_pronoun_flag === true">
                                <mat-form-field class="example-full-width">
                                    <mat-select placeholder="Select pronoun" [(ngModel)]="edited_pronoun"
                                        (selectionChange)="pronounChanged($event)">
                                        <mat-option *ngFor="let pronoun of listOfPronouns" [value]="pronoun.viewValue">
                                            {{ pronoun.viewValue }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </ng-template>
                        </p>
                        <p style="margin-bottom: 2% !important;
                        font-family: Bahnschrift, 'Segoe UI', 'Segoe UI Web (West European)', -apple-system, BlinkMacSystemFont, Roboto, 'Helvetica Neue', sans-serif;
                        font-weight: 400;">First Name: {{this.firstName}}
                            <ng-template [ngIf]="view_first_name_flag === false"><button class="edit-button"
                                    (click)="handleUserAction('edit_first_name','')"><mat-icon>edit</mat-icon></button></ng-template>
                            <ng-template [ngIf]="view_first_name_flag === true">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Enter first name" [(ngModel)]="edited_first_name"
                                        (input)="sendTheNewFirstNameValue($event)">
                                </mat-form-field>
                            </ng-template>
                        </p>
                        <p style="margin-bottom: 2% !important; 
                        font-family: Bahnschrift, 'Segoe UI', 'Segoe UI Web (West European)', -apple-system, BlinkMacSystemFont, Roboto, 'Helvetica Neue', sans-serif;
                        font-weight: 400;">Last Name: {{this.lastName}}<ng-template
                                [ngIf]="view_last_name_flag === false"><button class="edit-button"
                                    (click)="handleUserAction('edit_last_name','')"><mat-icon>edit</mat-icon></button></ng-template>
                            <ng-template [ngIf]="view_last_name_flag === true">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Enter last name" [(ngModel)]="edited_last_name"
                                        (input)="sendTheNewLastNameValue($event)">
                                </mat-form-field>
                            </ng-template>
                        </p>
                        <p style="margin-bottom: 2% !important; 
                        font-family: Bahnschrift, 'Segoe UI', 'Segoe UI Web (West European)', -apple-system, BlinkMacSystemFont, Roboto, 'Helvetica Neue', sans-serif;
                        font-weight: 400;">Preferred Name: {{this.preferredName}}<ng-template
                                [ngIf]="view_preferred_name_flag === false"><button class="edit-button"
                                    (click)="handleUserAction('edit_preferred_name','')"><mat-icon>edit</mat-icon></button></ng-template>
                            <ng-template [ngIf]="view_preferred_name_flag === true">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Enter preferred name"
                                        [(ngModel)]="edited_preferred_name"
                                        (input)="sendTheNewPreferredNameValue($event)">
                                </mat-form-field>
                            </ng-template>
                        </p>
                        <p style="margin-bottom: 0% !important;
                        font-family: Bahnschrift, 'Segoe UI', 'Segoe UI Web (West European)', -apple-system, BlinkMacSystemFont, Roboto, 'Helvetica Neue', sans-serif;
                        font-weight: 400;">Phonetics: {{this.phoneticSelection}}<ng-template
                                [ngIf]="view_phonetics_flag === false"><button class="edit-button"
                                    (click)="handleUserAction('edit_phonetics','')"><mat-icon>edit</mat-icon></button></ng-template>
                            <ng-template [ngIf]="view_phonetics_flag === true">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Enter Phonetics" [(ngModel)]="edited_phonetics_name"
                                        (input)="sendTheNewPhoneticsNameValue($event)">
                                </mat-form-field>
                                <button mat-raised-button matTooltipPosition="above" [disabled]="play_audio_button_flag"
                                    matTooltip="Play Audio" class="play-button" type="submit"
                                    style="background: #ffbf00;" (click)="playAudio()">
                                    <span><mat-icon class="decision-icon">play_arrow</mat-icon></span>
                                </button>
                            </ng-template>
                        </p>
                        <button mat-raised-button matTooltipPosition="right" matTooltip="Update"
                            [disabled]="update_button_flag" class="update-button" type="submit"
                            (click)="handleUserAction('update','')">
                            <span><mat-icon class="decision-icon">update</mat-icon></span>
                        </button>
                    </div>
                </mat-card>
            </div>
        </ng-template>

    </div>
    <footer>
        <div class="footer-div">
            <span>
                <a href="https://loyalistcollege.com/" target="_blank">
                    <img src="assets/images/LoyalistCollegeLogoWhite.png" alt="Loyalist Logo" width="61" height="30"
                        style="min-height: 30px; width: 61px; vertical-align: middle !important; margin-left: 11px; padding-bottom: 6px;">
                </a>
            </span>
            <span class="footer-content">Copyright &copy;2023 SayMyName; Loyalist College, Belleville, Canada. All
                rights
                reserved.</span>
        </div>
    </footer>
</div>
<ngx-ui-loader fgsColor="white" bgsColor="white" fgsType="fading-circle" text="Please Wait..." textColor="white"
    textPosition="center-center" pbColor="white"></ngx-ui-loader>